* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;

  --primaryColor: #007bff;
  --secondaryColor: #f8f9fa;
  --thirdColor: #495bb7;
  --backgroundDark: #10121a;
  --fontFamily: "Roboto", sans-serif;
}

body {
  font-family: var(--fontFamily);
  color: var(--secondaryColor);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  background: var(--backgroundDark);
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.titl {
  font-size: 2rem;
  color: var(--primaryColor);
  margin-top: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border: 1px solid var(--primaryColor);
}

label {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background: var(--primaryColor);
  color: white;
  cursor: pointer;
  margin: 1.5rem 0.7rem;
  transition: All 0.5s ease;
  width: 100%;
}

button:hover {
  background: #0056b3;
}

#total {
  margin: 8px 0;
  background: var(--thirdColor);
}
